<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= form_tag("/oinks", :method => "post") do |form| %>
            <div class="form-group">
              <%= label_tag "oink[handle]", "Handle" %>
              <%= text_field_tag "oink[handle]", nil,
                :autofocus => true,
                :class => "form-control",
                :maxlength => 15,
                :required => true,
                :pattern => "^[\\S]*$",
                :title => "Handles cannot contain spaces" %>
            </div>
            <div class="form-group">
              <%= label_tag "oink[content]", "Compose new Oink" %>
              <%= text_area_tag "oink[content]", nil,
                :class => "form-control",
                :maxlength => 140,
                :required => true,
                :style => "resize: vertical;" %>
            </div>
            <div class="form-group clearfix">
              <%= submit_tag("Oink", :class => "btn btn-primary btn-sm pull-right") %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="list-group">
        <% if @oinks.length < 1 %>
          <h3 class="text-muted text-center">
            What are you waiting for?<br>Start oinking.
          </h3>
        <% else %>
          <% @oinks.each do |oink| %>
            <div class="list-group-item">
              <div class="media">
                <div class="pull-left">
                  <img class="img-rounded media-object" src="<%= oink.avatar_url %>"
                    width="48" height="48" alt="<%= oink.handle %>">
                </div>
                <div class="media-body">
                  <h5 class="media-heading">
                    <div class="pull-right">
                      <%= form_tag(oink_path(oink.id), :method => "delete") do |form| %>
                        <%= hidden_field("oink[id]", oink.id) %>
                        <!-- <%= submit_tag("X", :class => "btn btn-link btn-xs text-muted", :title => "Delete oink") %> -->
                      <% end %>
                    </div>
                    @<%= oink.handle %> &middot;
                    <!-- <a href="<%= oink_path(oink.id) %>"> -->
                      <small>
                        <% created_at = oink.created_at %>
                        <time datetime="<%= created_at %>">
                          <%= time_ago_in_words(DateTime.parse(created_at)) %>
                        </time>
                      </small>
                    <!-- </a> -->
                  </h5>
                  <%= simple_format oink.content, :class => "oink-content" %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
