<!DOCTYPE html>

<html>
  <head>
    <title>Oinker</title>
    <link rel="icon" type="image/png" href="<%= image_path('oinker.png') %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img height="22" width="22" src="<%= image_path('oinker.png') %>" alt="" style="vertical-align: top;">
          Oinker
        </a>
        <ul class="nav navbar-nav">
          <li><a href="/analytics" style="margin-top: 5px; margin-bottom: 5px; padding-top: 10px; padding-bottom: 6px;">Analytics</a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
